@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

/* logo */
.center {
  display: inline-block;
  width: 30%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

/* logo */
.tagline-1 {
  text-align: center;
  font-size: 1rem;
  padding-top: 18%;
}

/* Parallax */
.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 {
  background-image: url("../images/cartoon-home11.jpeg");
}
#parallax2 {
  background-image: url("../images/cartoon-home22.jpeg");
}

.container-middle {
  padding-top: 10px;
}

/* Footer */
.footer-titles {
  color: #fafafa;
  text-align: left;
  text-transform: uppercase;
}

.footer-titles:hover {
  color: #88898b;
}

.signupcol {
  margin-bottom: 15px;
}

/* gallery  */
/* Create four equal columns that sits next to each other */
.column {
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* media queries */

/* Disable parallax scrolling for tablets and phones */
@media only screen and (max-width: 1200px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

.container-image {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center */
}

/* Memory Game Styling */
.memory-game-container {
  width: 500px;
  margin: 0 auto;
  padding: 48px 0 72px 0;
}
.memory-game {
  padding-bottom: 5%;
  width: 500px;
  height: 500px;
}

.stat-modal {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  top: 0;
  left: 0;
  z-index: 1050;
}

.modal-body {
  max-width: 35%;
  top: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: modalAnimation 0.5s linear;
  animation: modalAnimation 0.5s linear;
}

@-webkit-keyframes modalAnimation {
  from {
    top: 0%;
  }

  to {
    top: 30%;
  }
}
@keyframes modalAnimation {
  from {
    top: 0%;
  }

  to {
    top: 30%;
  }
}
/* Responsive layout - makes memory game responsive to S screens */
@media screen and (max-width: 800px) {
  .memory-game {
    width: 350px;
    height: 400px;
    padding-bottom: 5%;
  }
  .modal-body {
    max-width: 90%;
  }
  .memory-game-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

.memory-card {
  width: calc(25% - 30px);
  height: calc(33.333% - 30px);
  margin: 3px;
  cursor: pointer;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 21%;
  flex: 1 0 21%;
}
.memory-card :active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.memory-card.flip {
  pointer-events: none;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  border: solid rgb(39, 32, 32);
  border-width: 1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-face {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Footer */
footer {
  background-color: #2f2f33;
  color: #fafafa;
  min-height: 120px;
  margin: 0;
  top: 50%;
  margin-top: auto;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fafafa;
  background: #5a5959;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #3b3c41;
}

#footer-details {
  padding: 20px;
}

.copyright {
  color: #bdbdbd;
  text-align: justify;
  position: relative;
  list-style-type: none;
  padding-bottom: 15px;
  margin: 0;
  list-style: none;
  font-size: 1rem;
}

.col-sm-12 {
  text-align: center;
  color: #88898b;
}
.col-sm p {
  padding-left: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}

/* Style inputs with type="text" */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-separator i {
  color: #fafafa;
  padding-left: 10px;
}

.gallery-separator i {
  color: #fafafa;
  padding-left: 10px;
}

/* Contact Us Form */

.contact-form {
  background: #fff;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: auto;
  -webkit-transform: rotate(29deg);
  -ms-transform: rotate(29deg);
  transform: rotate(29deg);
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 2%;
  margin-top: -20%;
  text-align: center;
  color: red;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
