@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

/* logo */
.center {
  display: inline-block;
  width: 30%;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.tagline-1 {
  text-align: center;
  font-size: 1rem;
  padding-top: 18%;
}


/* gallery */
.gallery-separator {
  background-color: #2f2f33;
  color: #fafafa;
  height: 45px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 20px;
  padding-top: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.container-map {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
 
}

.map-row {
  position: relative;
  text-align: center;
  height: 450px;
  width: 100%;
  margin: auto;
}

.col-map {
  overflow: hidden;
  background: none;
  height: 450px;
  width: 100%;
  margin: auto;
}

/* Footer */
.footer-titles {
  color: #fafafa;
  text-align: left;
  text-transform: uppercase;
}

.footer-titles:hover {
  color: #88898b;
}

.signupcol {
  margin-bottom: 15px;
}


/* gallery  */

.gallery-separator {
  background-color: #2f2f33;
  color: #fafafa;
  height: 45px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 20px;
  padding-top: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* media queries */

/* Disable parallax scrolling for tablets and phones */
@media only screen and (max-width: 600px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

.container-image {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container-image .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
}


/* Memory Game Styling */

.memory-game-container {
  height: 700px;
  margin-top: 2%;
}

.memory-game {
  width: 620px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgb(255, 255, 255);
  bottom: auto;
  margin: auto;
}
.memory-card {
  width: 25%;
  height: 33.333%;
  position: relative;
  border: solid gray;
}

.front-face,
.back-face {

width: 100%;
height: 100%;
padding: 20px;
position: absolute;
border-radius: 5px;
background: rgb(255, 255, 255);

}

footer {
  background-color: #2f2f33;
  color: #fafafa;
  min-height: 120px;
  margin: 0;
  top: 50%;
  margin-top: auto;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fafafa;
  background: #5a5959;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #3b3c41;
}

#footer-details {
  padding: 20px;
}

.copyright {
  color: #bdbdbd;
  text-align: justify;
  position: relative;
  list-style-type: none;
  padding-bottom: 15px;
  margin: 0;
  list-style: none;
  font-size: 1rem;
}

.col-sm-12 {
  text-align: center;
  color: #88898b;
}
.col-sm p {
  padding-left: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}

/* Style inputs with type="text" */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-separator i {
  color: #fafafa;
  padding-left: 10px;
}

.gallery-separator i {
  color: #fafafa;
  padding-left: 10px;
}



/* Contact Us Form */

.contact-form{
  background: #fff;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: auto;
  transform: rotate(29deg);
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 2%;
  margin-top: -20%;
  text-align: center;
  color: red;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}